#clients-logo {
    flex-direction: row
}

@media only screen and (max-width: 768px) {
    #clients-logo div:first-child {
        display: none
    }
}

@media only screen and (max-width: 425px) {
    #clients-logo {
        flex-wrap: wrap;
    }

    #brand-softmaking {
        font-size: 16px;
    }
}
@media only screen and (max-width: 320px) {
    #logo-softmaking {
        display: none;
    }
}